:root {
  --link-color: #212121;
  --heading-font-family: "Roboto", sans-serif;
  --font-family: "Raleway", sans-serif;
  --highlight-color: #2196f3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.global-header {
  background-color: #ffffff;
  font: var(--heading-font-family);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 1px solid #ececec;
  
  .logo {
    
    width: 154px;
    height: 31px;
    font-family: var(--font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
    
    
    .logo-first {
      color: #2196f3;
      font-family: var(--font-family);
      font-weight: 700;
    }
    .logo-second {
      color: #000;
      margin-left:-7px;
    }
    
  }
}
.logo-first {
  color: #2196f3;
  font-family: var(--font-family);
      font-weight: 700;
}
.logo-third{
  color:#fff;
}
.logo-second {
  color: #000;
}
span{
  align-items: center;
  width: 154px;
  height: 31px;
  font-family: var(--font-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.global-header .main-navigation ul{
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
  gap:30px;
}
.global-header .main-navigation a:hover {
  color: #2196f3;
}
.nav-container{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 100px;
}
/* a:hover {
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 42px;
  top: 32px;
  left: 453px;
  font: var(--heading-font-family);
  font-weight: 500;
  size: 14px;
} */
body{
  margin-left:0px;
  margin-right:0px ;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  
}
h2 {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 150px;
}

h3 {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
h4 {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
h5 {
  color: #757575;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
p {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
h6{
 color: #212121;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
letter-spacing: 1.08px;
}


.sectionone {
  background: #2f303a;
  text-align: center;
  box-sizing: border-box;
  padding: 200px 350px 100px 450px;
  background-image:url("../images/sectionone-images.jpg");
  
  
}
.button-request {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  margin-top: 20px;
  margin: 0px;

}
.button-request:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.box{
  position: relative;
  width: 370px;
  height: 294px;
 overflow: hidden;
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:#2196F3E5;
  transform: translateY(100%);
  transition: var(--transition);
}
.box:hover .overlay{
  transform: translateY(0);
}
.overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: #fff;
  height: 140px;
  padding: 45px 40px 91px 24px;
  text-align: left;
 
}
.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;}
a{
    text-decoration:none;
    color: #000;

}
ul {
  list-style-type: none;
  color:#fff;
}
ul{
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
.contact {
  color: #212121;
  font: "Roboto";
  font-weight: 500;
  width: 59px;
  height: 16px;
 
}

footer {
  background-color: #2f303a;
  text-decoration: none;
}
address {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  box-sizing: border-box;
  
}
.info {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  justify-content:space-between;
  margin-right: 100px;
}
.style-info a:hover{
  fill: #2196F3;
}

.current {
  color: var(--highlight-color);
}
.buttons {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.85px;
  color: #212121;
  background-color: #f5f4fa;
  height: 26px;
  top: 174px;
  left: 614px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  min-width: 100px;
 
  
}
.buttons:hover{
  box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.25),
  0px 4px 4px 0px rgba(0,0,0,0.15),
  0px 1px 1px 0px rgba(0,0,0,0.12);;
}
.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background-color: #2196f3;
  
}
.section-second{
  display: flex;
  justify-content: center;
  gap:30px;
  margin-left:215px;
  margin-right: 215px;
  margin-top:150px;
}
.section-third{
  justify-content: center;
  display: flex;
  align-items: center;
  gap:30px;
  margin-top: 50px;
  
}
.section-team{
  padding-top: 100px;
}
.section-fourth-team{
  background-color: #F5F4FA;
}
.section-fourth h2 {
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.section-fourth{
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  box-sizing: border-box;
  padding: 100px;
  margin:0px;
}
.info-container{
  display: flex;
  
}
.images{
  padding-top: 94px;
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  column-gap: 30px;
}
.portofolio-card:hover{
 box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.16),
 0px 4px 4px 0px rgba(0,0,0,0.06),
 0px 1px 1px 0px rgba(0,0,0,0.12);
}
.portofolio{
  margin: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portofolio-card{
  width: 370px;
  background-color: #fff;
  border: 1px solid #AFB1B8;
  list-style: none;
  margin-bottom: 20px;
}
.portofolio-text{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  border-bottom: 1px solid #eee;
}
.portofolio-text span{
  margin-bottom: 4px;
}
.portofolio-text h5{
  margin-bottom: 20px;
}
.buttons-portofolio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 516px;
  margin: auto;
  column-gap: 8px;
}
.icon{
  width: 70px;
  height: 70px;
 box-sizing: border-box;
 

}
.feature{
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  padding: 25px 100px;
  border-radius: 4px;
}
.feature-text h3{
  margin-bottom: 10px;
  margin-top: 30px;
}
.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  fill:#AFB1B8;
}
 .social a:hover{
  width: 44px;
  background-color: #2196F3;
  fill:#fff;
  border-radius: 50%;
 
} 
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.social-networks{
  width: 20px;
  height: 20px;
}
.team:hover{
  box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.16),
  0px 4px 4px 0px rgba(0,0,0,0.06),
  0px 1px 1px 0px rgba(0,0,0,0.12);
 }
.team{
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  background-color: #fff;
}
.regular a{
  
  width: 64px;
  height: 64px;
  flex-shrink: 0;

}

.regular{
  fill:#AFB1B8;
  display: flex;
 justify-content: center;
 gap:60px;
  align-items: center;
  border-radius: 4px;
  flex-shrink: 0;
  padding-top:50px;
  padding-bottom:80px;
}
.regular-customer{
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  list-style: none;
  width: 170px;
  height: 80px;
  flex-shrink: 0;
  padding: 5px;
  
}
.regular-hover:hover{
  fill: #2196F3;
}
.footer-style{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  margin: 0;
}
.footer-container{
  display: flex;
  flex-direction: row;
   margin-top: 40px;
}
.footer-section2{
  display: flex;
  flex-direction: column;
  padding-left: 94px;
  padding-top:40px;
  padding-left:150px ;
}
.footer-container .footer-section1{
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 40px;
  padding-bottom: 90px;
}
.footer-details {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
}
.footer-section2 h3{
  color:#fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
 

}
.footer-section2 .footer-svg{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 10px;
}
.footer-svg a{
  padding: 12px;
  display: flex;
  align-items:center ;
  fill:#fff;
  background-color: #FFFFFF1A;
  border-radius: 50%;
}
.footer-svg a:hover {
  background-color: #2196F3;
}
.icon-info{
  fill:#757575;
  width: 16px;
  height: 11.996px;
  flex-shrink: 0;
}
.style-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}
.icon-info:hover{
  fill: #2196F3;
}
.footer-info{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
}
/* Animation*/
@keyframes OpenModal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes CloseModal{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.modal-content{
  animation-name: OpenModal;
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.is-hidden{
  animation-name: CloseModal;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
.modal{
  position: fixed;
  width: 500px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items:center ;
  border: 1px solid  rgba(0, 0, 0, 0.1);
  opacity: 1;
  margin-left: 600px;
  margin-top: 200px;
}
.modal-content{
  background-color: #fff;
  padding: 40px;
  width: 528px;
  height: 581px;

}
.close-btn{
 cursor: pointer;
  position: absolute;
  top:14px;
  right:14px;
  width: 18px;
height: 18px;
border:1px solid rgba(0, 0, 0, 0.1) ;

border-radius:50% ;
flex-shrink: 0;
}

.is-hidden{
  visibility: hidden;
  cursor: pointer;
}

.thumb{
  position: relative;
  overflow: hidden;
}
.thumb .label{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;
  height: 50px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  font-size: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16.41px;
  background-color: rgba(47, 48, 58, 0.8);
  color:#fff;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.input-container{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap:4px;
  position: relative;
}
.text-field, textarea{
  height: 20px;
  border-radius: 5px;
   border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 0.5s;
}

.input-container svg{
  position: absolute;
  top: calc(50% - 9px);
  left:12px;
}
.text-field:hover, textarea:hover{
  cursor: pointer;
}
.text-field:focus, textarea:focus{
  border: 1px solid rgba(33, 150, 243, 1);
}
.text-field:focus + svg{
  fill:rgba(33, 150, 243, 1);
}
.text-field{
  padding:11px 12px 11px 42px ;
}
textarea{
   height: 120px;
   padding: 12px 16px;

}
textarea::placeholder{
color: rgba(117, 117, 117, 0.50);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.14px;
}
.form-label{
  color: #757575;
font-family: 'Roboto';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.input-container span{
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.input-container a{
  color: #2196F3;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.terms-and-conditions-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 30px;
}
.terms-and-conditions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.terms-and-conditions-label span {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.terms-and-conditions-label span a {
  color: #2196f3;
}

.terms-and-conditions-label svg {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 23px;
  left:18.5px;
}
.terms-and-conditions-check{
  width: 13px;
  height: 13px;
  accent-color: #188ce8;
  margin-left: 13px;
  padding: 20px;
}
 .terms-and-conditions-check:not(:checked) {
  visibility: hidden;
}

.terms-and-conditions-check:checked + label > svg {
  display: none;
} 
.button-send{
width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
align-items: flex-start;
text-align: center;
margin-left: 120px;
margin-top: -20px;
}
.modal-content h4{
  width:440px;
  color: #212121;
text-align: center;
font-family:'Roboto';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
}
.subscribe h3{
  color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.text-subscribe{
  width: 358px;
height: 50px;
flex-shrink: 0;
  border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.text-subscribe::placeholder{
display: flex;
width: 47px;
height: 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.48px;
}
.subscribe{
  display: flex;
  flex-direction: column;
  padding-left: 94px;
  padding-top:40px;
  padding-left:150px ;
}
.button-subscribe{
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
margin: 0;
}
.button-subscribe-style{
  display: flex;
  flex-direction: column;
   padding-left: 12px;
   padding-top:85px;
}
.icon-send{
  width: 17px;
  height: 17px;
flex-shrink: 0;
fill: #FFF;
padding-left: 10px;
padding-top: 10px;
}
